<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCDLvUUVbP2pIt7WFj4hCxPQPRxkY00kPI</string>
	<key>GCM_SENDER_ID</key>
	<string>867552172811</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AmalMaktab.Al-Khalil</string>
	<key>PROJECT_ID</key>
	<string>kalaam-talib</string>
	<key>STORAGE_BUCKET</key>
	<string>kalaam-talib.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:867552172811:ios:a6f1b323f2a7ba2f7ce00e</string>
</dict>
</plist>